@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

:root {
  --white: #ffffff;
  --full-black: #000000;
  --dark-black: #161616;
  --medium-black: #1f1f1f;
  --dark-gray: #2a2a2a;
  --semi-dark-gray: #505050;
  --medium-gray: #f5f5f5;
  --light-gray: #e5e5e5;
  --blue: #0099cc;
  --modal-overlay: #000000b7;

  --container-width-lg: 60%;
  --container-width-md: 80%;
  --container-width-sm: 88%;
  --container-width-xsm: 94%;
}

body {
  margin: auto;
  font-weight: 400;
  font-size: 1.6rem;
  background: var(--light-gray);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.1rem;
  color: var(--white);
}

h2 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: var(--medium-gray);
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--white);
}

h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: var(--blue);
}

h5 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: var(--dark-black);
}

h6 {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 400;
}

button {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--white);
  background: var(--blue);
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  border: 2px solid var(--blue);
  transition: 0.3s ease-in-out;
}

button:hover {
  background: transparent;
  color: var(--blue);
}

.container {
  width: var(--container-width-lg);
  margin: auto;
  padding: 4rem 0 0 0;
}

.fa-solid,
.fas {
  font-size: 1.4rem;
}

/* -------------------- HEADER -------------------- */
header {
  position: relative;
  background: var(--full-black);
  width: 100%;
  padding: 3rem 0;
}

.shop-box {
  position: absolute;
  top: 1.2rem;
  right: 3rem;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem;
  width: 7rem;
  padding: 0.34rem;
}

.shop-box p {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.5rem;
}

/* -------------------- CARDS -------------------- */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.cards p {
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 3.7rem;
  color: var(--white);
}

.card-left,
.card-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-card-side h1 {
  padding-bottom: 2rem;
  text-align: center;
}

.left-card-side h2 {
  padding-bottom: 2rem;
}

.right-card-side p {
  margin-bottom: 3rem;
}

.left-card-side {
  display: flex;
  background: var(--dark-gray);
  flex-direction: column;
  justify-content: center;
  border-radius: 0.6rem 0 0 0.6rem;
  height: 21rem;
  padding: 0 2rem 0 3rem;
}

.right-card-side {
  display: flex;
  background: var(--medium-black);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
  border-radius: 0 0.6rem 0.6rem 0;
}

.right-card-side a {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--white);
  text-decoration: underline;
}

.card-right p {
  padding-top: 2.5rem;
}

.card-right button {
  margin-bottom: 1rem;
}

/* -------------------- CARDS ARRAY -------------------- */

.single-credit {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.single-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 0.6rem;
  width: 100%;
}

.single-card h3 {
  background: var(--medium-black);
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  border-radius: 0.6rem 0.6rem 0 0;
}

.single-card h4 {
  padding: 3rem 0 0 0;
}

.single-card h5 {
  padding: 1rem 0;
}

.single-card h6 {
  padding: 1rem 0 2rem 0;
}

/* CART */
.cart-popup {
  max-width: 800px;
  width: 100%;
  margin: auto;
  background: var(--medium-black);
  border-radius: 0.6rem;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: none;
}

table {
  max-width: 800px;
  width: 100%;
  margin: auto;
  border-spacing: 0 2rem;
}

.header-table {
  max-width: 80%;
  margin: auto;
}

.scrolling-table {
  max-width: 80%;
  min-height: 300px;
  max-height: 350px;
  margin: auto;
  overflow: scroll;
  border-bottom: 3px solid var(--blue);
}

.cart-popup h1 {
  text-align: center;
}

.dark-bg {
  background: var(--dark-gray);
  padding: 2rem 0;
  border-radius: 0.6rem;
}

.main-text-table {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--semi-dark-gray);
  text-align: center;
}

td {
  text-align: center;
  border-bottom: 1px solid var(--dark-gray);
}

.btn-center {
  padding: 4rem 0 2rem 0;
  text-align: center;
}

.cart-popup p {
  padding-top: 3rem;
}

.close-popup {
  background: none;
  color: var(--blue);
  border: none;
  font-size: 3rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s ease-in-out;
}
.close-popup:hover {
  color: var(--white);
}

#hidden {
  display: none;
}

.productPopup {
  display: none;
}
.new-item {
  background: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  position: absolute;
  right: 3rem;
  top: 8rem;
}

.new-item p {
  font-size: 1.8rem;
  font-weight: 600;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1450px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: var(--container-width-sm);
  }
  .cards {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .single-credit {
    grid-template-columns: 1fr 1fr;
  }
  .scrolling-table {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .single-credit {
    grid-template-columns: 1fr;
  }
  .card-left,
  .card-right {
    grid-template-columns: 1fr;
  }
  .left-card-side h2 {
    text-align: center;
    padding: 0;
  }
  .left-card-side {
    height: 16rem;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
  }
  .right-card-side {
    height: 18rem;
    border-radius: 0rem 0rem 0.6rem 0.6rem;
  }
  .right-card-side a {
    padding-bottom: 2rem;
  }
  .right-card-side p {
    padding-bottom: 0rem;
  }
}
